body {
    background-color: #0a183d;
    font-size: 16px;
    color: #fff;
}


.grid-container {
    display: grid;
    grid-gap: 50px 100px;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
  
.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}